<!DOCTYPE html>
<html>
  <head>
    <title>The title of the document</title>
    <style>
      .container {
        display: flex;
        align-items: left;
        justify-content: center;
      }
      img {
        max-width: 30%
      }
      .image {
        flex-basis: 50%
      }
      .text {
        font-size: 15px;
        padding-left: 2px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="image">
        <img src="https://www.facebook.com/photo/?fbid=1508423389542296&set=a.106647163053266" alt="" width="500" height="600">
      </div>
      <div class="text">
      <blockquote cite="http://www.worldwildlife.org/who/index.html">
        <h1 style="text-align: center;color:red;font-size: 40px;"><i>My Profile</i></h1>
    <h2 style="text-align:center; color: blue;"><b>My Name:</b></h2>
<p style="font-size:10px; text-align:center; "> MD SHAKIL RANA</p>
 <h2 style="text-align:center; color: blue;"><b>My University Name:</b></h2>
<p style="font-size:10px; text-align:center; "> Daffodil International University </p>
 <h2 style="text-align:center; color: blue;"><b>My Department Name:</b></h2>
<p style="font-size:10px; text-align:center; "> Computer Science And Engineering </p>

    <h2 style="text-align:center; color: blue;"><b>My Phone Number:</b></h2>
    <p style="font-size:10px; text-align:center; "> 01744526563</p>

    <h2 style="color:royalblue; text-align:center; "><b>My Facebook Link:</b></h2>
    <p style="text-align:center; font-size:20px;" ><a href="https://www.facebook.com/mdshakil.m.mdshakil.942/"> Facebook Id </a></p>
    
    
    <h2 style="text-align:center ;color: blueviolet;"><b>My Whatsapp Number:</b></h2>
    <p style="font-size:10px ;text-align:center;"> 01744526563</p>
    
    <h2 style="color: darkgreen;text-align:center;"><b>My Email Address Link:</b></h2>
    <p style="font-size:10px ;text-align:center;">  shakil15-3816@diu.edu.bd  </a> </p>

    </blockquote>
      </div>
    </div>
  </body>
</html>